In [3]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
for i in fruits:
    print(i, end=(" "))

apple banana cherry date elderberry

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [7]:
# print your name 20 times
for i in range(20):
    print("Suryansh Tripathi")

Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi
Suryansh Tripathi

In [8]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [9]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [10]:
i=0 
while i<=10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

- break and continue

In [16]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'onion', 'kiwi']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
banana
cherry
date
elderberry

In [17]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'onion', 'kiwi']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
banana
cherry
date
elderberry
kiwi