- how to create a dictionary
- how to access pairs in dictionary
- how to run a loop in dictonary
- how to make nested dictionary
- indexing in dictionary

In [2]:
student = {
    "name" : "Alice",
    "age" : 16,
    "class" : 8,
    "marks" : 33
}
print(student)

{'name': 'Alice', 'age': 16, 'class': 8, 'marks': 33}

In [6]:
info = dict(name = "alice", age = 20, course = "mba", marks = 43 )
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 43}

In [7]:
temp = {
    'lucknow' : [30,35,40],
    'delhi' : [32,33,38]
}
print(temp)

{'lucknow': [30, 35, 40], 'delhi': [32, 33, 38]}

In [ ]:
# 1st method to acess value through key
info['name']
info['age']

20

In [12]:
#2nd method
info.get("name")
info.get("course")

'mba'

In [13]:
#adding new key and value pair in the dictionary
info['city'] = "lucknow"
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 43, 'city': 'lucknow'}