- how to create a dictionary
- how to access pairs in dictionary
- how to run a loop in dictonary
- how to make nested dictionary
- indexing in dictionary

In [1]:
student = {
    "name" : "Alice",
    "age" : 16,
    "class" : 8,
    "marks" : 33
}
print(student)

{'name': 'Alice', 'age': 16, 'class': 8, 'marks': 33}

In [2]:
info = dict(name = "alice", age = 20, course = "mba", marks = 43 )
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 43}

In [31]:
temp = {
    'lucknow' : [30,35,40],
    'delhi' : [32,33,38]
}
print(temp)

{'lucknow': [30, 35, 40], 'delhi': [32, 33, 38]}

In [4]:
# 1st method to acess value through key
info['name']
info['age']

20

In [5]:
#2nd method
info.get("name")
info.get("course")

'mba'

In [6]:
#adding new key and value pair in the dictionary
info['city'] = "lucknow"
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 43, 'city': 'lucknow'}

In [7]:
for i in student:
    print(i)

name
age
class
marks

In [8]:
for i,j in student.items():
    print(f'{i} : {j}')

name : Alice
age : 16
class : 8
marks : 33

In [9]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'class', 'marks'])
dict_values(['Alice', 16, 8, 33])
dict_items([('name', 'Alice'), ('age', 16), ('class', 8), ('marks', 33)])

In [11]:
#nested dictionary
company = {
    'emp001' : {
        'name' : 'Alice',
        'dept' : 'Finance',
        'salary' : 50000
    },
    'emp002' : {
        'name' : 'Bob',
        'dept' : 'Marketing',
        'salary' : 45000 
    },
    'emp003' : {
        'name' : 'Smith',
        'dept' : 'IT',
        'salary' : 70000
    }
}
print(company)

{'emp001': {'name': 'Alice', 'dept': 'Finance', 'salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'Marketing', 'salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'salary': 70000}}

In [12]:
from pprint import pprint

In [13]:
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'Marketing', 'name': 'Bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000}}

In [23]:
company['emp004'] = {'name' : 'john', 'dept' : 'sales', 'salary' : 35000}
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'Marketing', 'name': 'Bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000},
 'emp004': {'dept': 'sales', 'name': 'john', 'salary': 35000}}

In [24]:
company['emp002']['dept']

'Marketing'

In [32]:
temp['lucknow']

[30, 35, 40]

In [35]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

35.0